root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
# max_line_length = 120

[{*.bash,*.sh,*.zsh}]
indent_size = 2
# tab_width = 2


[{*.py,*.pyw}]
indent_size = 4
indent_style = space


[{*.yaml,*.yml}]
indent_size = 2
